@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/elGiank/blazor-dotnetconf2019-peru" target="_blank">dotNet Conf 2019</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
