@page "/"
@using GitHubSearcher.Data
@inject GitHubService GitService

<h1 class="mb-2">Buscador con Blazor</h1>
<h4 class="mb-5">Usuarios en GitHub</h4>

<Searcher SearchFunction="@SearchUser" @bind-SearchQuery="searchParam"></Searcher>

<LoadingSpinner IsLoading="isLoadingResults"></LoadingSpinner>

<UserSearchResultViewer Users="users"></UserSearchResultViewer>

@code {

    private string searchParam;
    private bool isLoadingResults;
    List<User> users;

    private async Task SearchUser()
    {
        isLoadingResults = true;

        var result = await GitService.FindGitHubUsersAsync(searchParam);

        users = result.Users;
        isLoadingResults = false;
    }

    private async Task SearchOnPressEnter(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" && !isLoadingResults)
        {
            await SearchUser();
        }
    }
}