@page "/"

<h1>Buscador con Blazor</h1>
<br />
<h3>Usuarios en GitHub</h3>
<br />
<div class="row justify-content-md-center">
    <div class="col-8">
        <div class="form-inline md-form mr-auto mb-4 mt-0 active-blue">
            <input class="form-control" type="text" placeholder="Nombre del usuario" aria-label="Nombre del usuario">
            <button class="btn btn-outline-primary ml-4">Buscar</button>
        </div>
    </div>
    <div class="col-8">
        <div class="col-8">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="img-fluid img-thumbnail mr-3" src="https://avatars0.githubusercontent.com/u/1?v=4" alt="Grabatar">
                    <div class="media-body">
                        <h5 class="card-title mt-4"><a href="https://github.com/mojombo">mojombo</a></h5>
                        <h6 class="card-subtitle text-muted mb-2 mt-2 ">Score: 98.12391</h6>
                        <a href="https://api.github.com/users/mojombo/repos" class="card-link">Sus repos</a>
                        <a href="https://avatars0.githubusercontent.com/u/1?v=4" class="card-link">Su perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  