@page "/repos"

<h1>Buscador con Blazor</h1>
<br />
<h3>Usuarios en GitHub</h3>
<br />
<div class="row justify-content-md-center">
    <div class="col-8">
        <div class="form-inline md-form mr-auto mb-4 mt-0 active-blue">
            <input class="form-control" type="text" placeholder="Nombre del usuario" aria-label="Nombre del usuario">
            <button class="btn btn-outline-primary ml-4">Buscar</button>
        </div>
    </div>
    <div class="col-8">
        <div class="card" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="https://github.com/daniel-e/tetros" class="card-link">tetros</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">daniel-e/tetros</h6>
                <p class="card-text">Tetris that fits into the boot sector.</p>
                <a href="https://github.com/daniel-e/tetros" class="card-link">Ver el repo</a>
                <a href="https://github.com/daniel-e" class="card-link">daniel-e</a>
            </div>
        </div>
    </div>
</div>  